{% extends "account/layout/base.html" %}

{% block content %}
<div class="content-block">
    {% include "account/partials/messages.html" %}
    <legend>Items for Shopping List <strong> <em> {{ shoplist.name }} </em></strong></legend>

    <ul>
        <div class="row">
            {% for shoplistitem in shoplistitems %}
                <li> {{ shoplistitem.name }}  </li>
                <hr>
            {% empty %}
              No item yet for this shopping list
            {% endfor %}
        </div>
    </ul>
</div>
{% endblock content %}
