{% extends "account/layout/base.html" %}
{% load bootstrap %}

{% block content %}
<div class="content-block">
    {% include "account/partials/messages.html" %}
    <legend>Update Item in Shopping List
        <strong><em> {{ shoplist.name }} </em> </strong>

    </legend>
    <form method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <input class="btn btn-primary" type="submit" value="Update Item" />
        &emsp;
        <a href="{% url 'shop_list' %}">View All Shopping lists</a>
    </form>
</div>
{% endblock content %}
