{% extends "account/layout/base.html" %}

{% block content %}
<div class="content-block">
    {% include "account/partials/messages.html" %}
    <legend>Items for Shopping List <strong> <em> {{ shoplist.name }} </em></strong>
        <a href="{% url 'shop_list_item_create' shop_list_id=shoplist.id %}"class="pull-right"
            title="Add item to {{ shoplist.name }}">
        <span class="add-class glyphicon glyphicon-plus"></span>
        </a></legend>

    <ul>
        <div class="row">
            {% for shoplistitem in shoplistitems %}
                <li> {{ shoplistitem.name }}
                    <div class="dropdown pull-right">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Options
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li title="Delete item">
                                <a href="{% url 'shop_list_item_delete' shop_list_id=shoplist.id item_id=shoplistitem.id %}">Delete item</a></li>
                            <li title="Update item">
                                <a href="{% url 'shop_list_item_update' shop_list_id=shoplist.id item_id=shoplistitem.id %}">Update item</a></li>
                        </ul>
                      </div>
                </li>

                <hr>
            {% empty %}
              No item yet for this shopping list
            {% endfor %}
        </div>
    </ul>
</div>
{% endblock content %}
